<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


	<!-- General meta information -->
	<title>后台管理系统</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="index, follow" />
	<meta charset="utf-8" />
	<!-- // General meta information -->
	
	
	<!-- Load Javascript -->
	<script type="text/javascript" src="{{templatepath}}/js/jquery.js"></script>
	<script type="text/javascript" src="{{templatepath}}/js/jquery.query-2.1.7.js"></script>
	<script type="text/javascript" src="{{templatepath}}/js/rainbows.js"></script>
	<!-- // Load Javascipt -->

	<!-- Load stylesheets -->
	<link type="text/css" rel="stylesheet" href="{{templatepath}}/css/style.css" media="screen" />
	<!-- // Load stylesheets -->
	
<script>


	$(document).ready(function(){
 
	$("#submit1").hover(
	function() {
	$(this).animate({"opacity": "0"}, "slow");
	},
	function() {
	$(this).animate({"opacity": "1"}, "slow");
	});
 	});

    function userlogin(){
        var username = $('input[name=username]').val();
        var password = $('input[name=password]').val();
        if(username!= '' && username != 'username' && password != '' && password!= 'Password'){
            $.ajax({
                url:'{{ submiturl }}',
                type:'POST', 
                dataType:'json',
                data:{
                    'username':username,
                    'password':password
                },
                success:function(data,textStatus,jqXHR){
                    if( data.code == 200){
                        alert(data.msg);
                        if( typeof(data.data.url) != 'undefined' && data.data.url!='' ){
                            window.location.href=data.data.url;
                        }
                    }else {
                        alert(data.msg);
                    }
                    console.log(data);
                }
            });
        }else{
            alert('请填写用户名密码！');
        }
    }
</script>
	
</head>
<body>

	<div id="wrapper">
		<div id="wrappertop"></div>

		<div id="wrappermiddle">

			<h2>Login</h2>
            <form action="{{ submiturl }}" method='post' onsubmit='return false;'>
			<div id="username_input">

				<div id="username_inputleft"></div>

				<div id="username_inputmiddle">
					<input type="text" name="username" id="url" value="username" onclick="this.value = ''">
					<img id="url_user" src="{{templatepath}}/images/mailicon.png" alt="">
				</div>

				<div id="username_inputright"></div>

			</div>

			<div id="password_input">

				<div id="password_inputleft"></div>

				<div id="password_inputmiddle">
					<input type="password" name="password" id="url" value="Password" onclick="this.value = ''">
					<img id="url_password" src="{{templatepath}}/images/passicon.png" alt="">
				</div>

				<div id="password_inputright"></div>

			</div>

			<div id="submit">
				
				<input type="image" src="{{templatepath}}/images/submit_hover.png" id="submit1" value="Sign In" onclick='userlogin()'>
				<input type="image" src="{{templatepath}}/images/submit.png" id="submit2" value="Sign In" onclick='userlogin()'>
				
			</div>
            </form>

			<div id="links_left">

			<a href="#">忘记密码?</a>

			</div>

            <!-- 
			<div id="links_right"><a href="#">还不是会员么?</a></div>
            -->
		</div>

		<div id="wrapperbottom"></div>
		
		<div id="powered">
		<p>Powered by <a href="#">Nick</a></p>
		</div>
	</div>

</body>
</html>